---
import Card from "../components/Card.astro";
import Layout  from "../layouts/Layout.astro";
const Title = "aressantonio";
---



<Layout title={Title}>
    
    <div class="mx-auto text-center mb-5 lg:mb-16" transition:animate="slide">
        <Card />
    </div>
    
</Layout> 


<style>
    div{
    margin-top: -10px;
    margin-bottom: 195px;
    }
    
</style>