---
import Layout  from "../layouts/Layout.astro";
const Title =  "Portafolio";
---



<Layout title={Title}>
 <h1>Estos son alguno de mis proyectos:</h1>
 <section>
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
        <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">

            <div class="p-6">
                <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="../src/assets/13.gif" alt="blog">
                <h2 class="mb-8 text-xs font-semibold tracking-widest text-white uppercase">
                    Proyecto 1
                </h2>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                    Stack HTML, CSS, JAVASCRIPT.
                </h1>

                <div class="mt-4">
                    <a href="#" target="_blank" class="inline-flex items-center mt-4 font-semibold text-white lg:mb-0 hover:text-violet-500" title="read more"> 
                        Ir a repositorio del proyecto » 
                    </a>
                </div>
            </div>

            <div class="p-6">
                <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="../src/assets/58.gif" alt="blog">
                <h2 class="mb-8 text-xs font-semibold tracking-widest text-white uppercase">
                    Proyecto 2
                </h2>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                    Short length headline to use as a title.
                </h1>

                <div class="mt-4">
                    <a href="#" target="_blank" class="inline-flex items-center mt-4 font-semibold text-white lg:mb-0 hover:text-violet-500" title="read more"> 
                        Ir a repositorio del proyecto » 
                    </a>
                </div>
            </div>

            <div class="p-6">
                <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="../src/assets/44.gif" alt="blog">
                <h2 class="mb-8 text-xs font-semibold tracking-widest text-white uppercase">
                    Proyecto 3
                </h2>
                <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                    Short length headline to use as a title.
                </h1>

                <div class="mt-4">
                    <a href="#" target="_blank" class="inline-flex items-center mt-4 font-semibold text-white lg:mb-0 hover:text-violet-500" title="read more">
                        ir a repositorio del proyecto » 
                    </a>
                </div>
            </div>
        </div>
    </div>
 </section>
</Layout> 