---
import PortfolioItem from "../components/PortfolioItem.astro";
import Layout  from "../layouts/Layout.astro";

const Title =  "Portafolio";

const datos = [
    {
        imagen: '../conversor.gif', 
        proyecto: 'Proyecto 1->> Conversor de Moneda y Temperatura.', 
        stack: 'Stack: Java OOP, Libreria Swing for Java y Libreria JOpane for Java.',
        repo: 'https://github.com/AressAntonio/Conversor_MonedaTemperatura',
       textRepo: 'Ir a repositorio del proyecto »'
    },
    {
        imagen: '../juego2d.gif', 
        proyecto: ' Proyecto 2->> Videojuego 2D.', 
        stack: 'Stack: C# POO y Motor de videojuegos Unity version:20.2.2f1.',
        repo: 'https://github.com/AressAntonio/proyecto_videojuego2D?tab=readme-ov-file',
       textRepo: 'Ir a repositorio del proyecto »'
    },
    {
        imagen: '../countdown.gif', 
        proyecto: 'Proyecto 3->> CountDown||App.', 
        stack: 'Stack: HTML, CSS Y JAVASCRIPT.',
        repo: 'https://github.com/AressAntonio/Proyecto-Countdown-Day-Web-App',
       textRepo: 'Ir a repositorio del proyecto »'
    },
    {
        imagen: '../gameromance.gif',
        proyecto:'Proyecto 4->> GameRomance||App.',
        stack: 'Stack: HTML, CSS Y JAVASCRIPT.',
        repo: 'https://github.com/AressAntonio/web-romance-A-Y',
        textRepo: 'Ir a repositorio del proyecto »'
    },
    {
        imagen: '../bar-alura.gif',
        proyecto: 'Proyecto 5->> Barberia Alura||landigPage.',
        stack: 'Stack: HTML, CSS Y JAVASCRIPT.',
        repo: 'https://github.com/AressAntonio/Barberia-Alura?tab=readme-ov-file',
        textRepo: 'Ir a repositorio del proyecto »'
    },
    {
        imagen: '../login-python.gif',
        proyecto: 'Proyecto 6->> Login con Python.',
        stack: 'Stack: Python 3.10.1, Python libreria tkinter, Python libreria pymysql y Python libreria flask.',
        repo: 'https://github.com/AressAntonio/LogIn-Registro-con-python?tab=readme-ov-file',
        textRepo: 'Ir a repositorio del proyecto »'
    },
]

---



<Layout title={Title}>
 
 <section transition:animate="fade">
    <h1 transition:animate="fade">Estos son alguno de mis proyectos:</h1>

    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">

        <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
            {
                datos.map((dato)=>(
                    <PortfolioItem {...dato}/>
                ))
            }
        </div>
       
    </div>
    
 </section>
</Layout> 

<style>
    section{
        margin-top: -35px;
        margin-bottom: 50px;
    }
</style>

