---
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h1 class="text-6xl text-white font-bold animate-bounce">
            AressAntonio<hr>
        </h1>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Desarrollo de Sitios Web y Soluciones Digitales<br>
            on HGO, Mexico City.
        </p>
    </div>
    <nav class="flex flex-col items-center 
    justify-between w-full text-center 
    md:flex-row">

        <HeaderButton class="text-white" href="#">
        <svg
            slot="antes" 
            width="24" height="24" 
            viewBox="0 0 24 24" 
            stroke-width="2" stroke="currentColor" 
            fill="none" 
            stroke-linecap="round" 
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
         </svg>
        Home
        </HeaderButton>
        <HeaderButton class="text-white" href="#">
            <svg
                slot="antes" 
                width="24" height="24" 
                viewBox="0 0 24 24" 
                stroke-width="2" 
                stroke="currentColor" 
                fill="none" 
                stroke-linecap="round" 
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M7 21l2 -4"></path>
                <path d="M13 21v-4l-3 -3l1 -6l3 4l3 2"></path>
                <path d="M10 14l-1.827 -1.218a2 2 0 0 1 -.831 -2.15l.28 -1.117a2 2 0 0 1 1.939 -1.515h1.439l4 1l3 -2"></path>
                <path d="M17 12v9"></path>
                <path d="M16 20h2"></path>
             </svg>
            Portafolio
        </HeaderButton>
        <HeaderButton class="text-white" href="/pages/about/">
            <svg 
                slot="antes" 
                width="24" height="24" 
                viewBox="0 0 24 24" 
                stroke-width="2" 
                stroke="currentColor" 
                fill="none" 
                stroke-linecap="round" 
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M18 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M4 17h-2v-11a1 1 0 0 1 1 -1h14a5 7 0 0 1 5 7v5h-2m-4 0h-8"></path>
                <path d="M16 5l1.5 7l4.5 0"></path>
                <path d="M2 10l15 0"></path>
                <path d="M7 5l0 5"></path>
                <path d="M12 5l0 5"></path>
             </svg>
             About Me
        </HeaderButton>
        <HeaderButton class="text-white" href="/about">
            <svg 
               slot="antes"  
               width="24" height="24" 
               viewBox="0 0 24 24" 
               stroke-width="2" stroke="currentColor" 
               fill="none" stroke-linecap="round" 
               stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M12 13l-1.707 -1.707a1 1 0 0 0 -.707 -.293h-2.586a2 2 0 0 1 -2 -2v-3a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2.586a1 1 0 0 0 -.707 .293l-1.707 1.707z"></path>
             </svg>
            contacto
        </HeaderButton>
    </nav>
    
</header>